/*-------- Utility Styles --------*/
* {
	box-sizing: border-box; 
	/* ^^^ Forces all elements to include content, padding, and border as part of their width/height calculation: 
	http://www.w3schools.com/cssref/css3_pr_box-sizing.asp */
}
body {
	font-family: 'Proza Libre', sans-serif;
}
h1 {
	font-size: 2em;
	font-weight: 700;
	margin: 10px 0 14px 0;
}
section,
div,
form,
input,
select,
textarea {
	border-radius: 6px;
}

/*-------- Form Styles --------*/

#main {
	width:100%;
}
section.container {
	float: left;
	margin: 14px;
}
.form {
	width: 100%;
	max-width: 500px;
	background: #E3E6EC;
	padding: 10px 20px;
}
.row {
	margin: 10px 0;
}
.formGroup {
	width: 100%;
	display: inline-block;
}
.formGroup label {
	display: block;
	width: 100%;
	padding: 8px 0;
}
.formGroup .radioButtons .radio,
.formGroup .checkboxes .check {
	clear: both;
	margin-left: 14px;
}
.formGroup .radio label,
.formGroup .check label {
	float: left;
	width: inherit;
	margin: 0 20px 0 4px;
	line-height: 38px;
}
.formGroup input,
.formGroup select,
.formGroup textarea {
	padding: 14px;
	border: 1px solid #CCC;
	box-shadow: none;
	width: 100%;
	font-size: 1em;
	height: 48px;
}
.formGroup textarea {
	min-height: 100px;
}
.formGroup input[type="radio"],
.formGroup input[type="checkbox"] {
	display: inline-block;
	float: left;
    width: inherit;
}
input[type="submit"] {
	display: inline-block;
	float: right;
	margin-top: 20px;
	padding: 14px 24px;
    font-weight: bold;
	background: rgba(39, 208, 127, .5);
	transition: all 0.5s ease;
	border: none;
	width: initial;
}
input[type="submit"]:hover {
	background: rgba(39, 208, 127, 1);
}


/*-------- Results Styles --------*/

.results {
	max-width: 500px;
	background: #C8DBB3;
	padding: 10px 20px 20px 20px;
}
